<ng-container *ngIf="rx.state | async as s">
    <p>Counter value: {{s.currentValue}}</p>
    <form>
        <label for="increment-by">Increment by</label>
        <input type="number" id="increment-by" [value]="s.incrementBy"
            (input)="rx.changes.next(rx.service.incrementBy($event))">
    </form>
    <div class="actions">
        <button (click)="rx.changes.next(rx.service.increment)">Increment</button>
        <button (click)="rx.changes.next(rx.service.reset)">Reset</button>
    </div>
</ng-container>