<ng-container *ngIf="rx.state | async as s">
    <p>Counter value: {{s.currentValue}}</p>
    <form>
        <label for="increment-by">Increment by</label>
        <input type="number" id="increment-by" [value]="s.incrementBy"
            (input)="rx.actions.next(rx.feature.incrementBy($event))">
    </form>
    <div class="actions">
        <button (click)="rx.actions.next(rx.feature.increment)">Increment</button>
        <button (click)="rx.actions.next(rx.feature.reset)">Reset</button>
    </div>
</ng-container>