<ng-container *ngIf="rx.state | async as s">
    <p>Edit form ({{s.type}})</p>
    <form>
        <label for="name">Name</label>
        <input type="text" id="name" [value]="s.form.name"
            (input)="rx.actions.next(rx.feature.form({name: inputString($event)}))">
        <label for="surname">Surname</label>
        <input type="text" id="surname" [value]="s.form.surname"
            (input)="rx.actions.next(rx.feature.form({surname: inputString($event)}))">
        <label for="email">Email</label>
        <input type="email" id="email" [value]="s.form.email"
            (input)="rx.actions.next(rx.feature.form({email: inputString($event)}))">
    </form>
    <div class="actions">
        <button [disabled]="s.type === 'loading'" (click)="rx.actions.next(rx.feature.reset)">Reset</button>
        <button [disabled]="s.type === 'loading'" (click)="rx.actions.next(rx.feature.load)">Reload</button>
        <button [disabled]="s.type !== 'updated'" (click)="rx.actions.next(rx.feature.save)">Save</button>
    </div>
</ng-container>